%h1 Welcome to Librarian!

%p
  Librarian is a cool way to manage a library. Well, maybe it's not that breat
  but it's better than using a spreadsheet. Well...maybe it's not better than
  that, but it's still better than <strong>NOT</strong> keeping track of your
  books. Amirite?

%p Here's some stuff to do:
%ul
  %li= link_to "Edit locations", locations_path
  %li= link_to "Edit bookshelves", bookshelves_path
  %li= link_to "Edit books", books_path
  %li= link_to "Track checkouts", checkouts_path

